.canvas-container {
    height: 70vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    background: #e2e8f0;
    align-items: center;
    justify-content: center;
}

.canvas-3d {
    flex: 1;
    width: 100% !important;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
